@import url(https://fonts.googleapis.com/css?family=Roboto);

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

input {
  outline: none;
  background-color: #333333;
  border-width: 0;
  font-size: 20px;
  color: white;
}

.btn {
  user-select: none;
  background-color: #333333;
  border-radius: 5px;
  padding: 5px 0;
}

.btn:active {
  background-color: #444444 !important;
}

.btn:hover {
  outline: white solid 1px;
}

.material-symbols-outlined:hover {
  color: red;
}

